<%- include('../partials/header') %>

  <h2>
    <%= title %>
  </h2>
  <form class="search" action="/posts" method="GET">
    <input type="text" placeholder="Search Authors..." name="authorName">
    <button><i class="fas fa-search"></i>Search</button>
  </form>
  <% posts.forEach(function(p) { %>
    <article id="postContent">
      <p>
        <%= p.title %>
      </p>
      <p>
        <%= p.genre %>
      </p>
      <p>
        <%= p.content %>
      </p>
      <p>
        <img src="<%= p.userAvatar %>"> <%= p.userName %>
      </p>
      <P>
        
      </P>
    </article>
    <td>
      <% if (user && user._id.equals(p.user)) { %>
        <form action="/posts/<%= p._id %>?_method=DELETE" method="POST">
          <button type="submit">delete</button>
        </form>
        <% } %>
    </td>
    <% }) %>
 
      <%- include('../partials/footer') %>