<%- include('../partials/header') %>

  <h2 id="allPosts">
    <%= title %>
  </h2>
  <br>
  <br>
  <% posts.forEach(function(p) { %>
    <article>
      <h3 id="allPosts">
        <a id="linkColor" href="/posts/<%= p._id %>">
          <%= p.title %>
        </a>
      </h3>
      <p id="allPosts">
        <%= p.genre %>
      </p>
      <h4 id="allPosts">
        <%= p.userName %>
        <img id="userAvatar" src="<%= p.userAvatar %>"> <a id="nameColor"></a>
      </h4><br>
      <% if (user && user._id.equals(p.user)) { %>
        <form action="/posts/<%= p._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Post</button>
        </form>
      <% } %>
    </article>
  <% }) %>

<%- include('../partials/footer') %>