<%- include('../partials/header') %>
<!-- 
<% if (user) { %> 
  <h2  class="updatePost">Posts</h2>
    <form method="GET" action="/posts/<%= foundPost[0]._id %>">
      <label>Post:</label>
      <input name="title" type="text" value="<%= foundPost[0].title %>" >
      <input name="genre" type="text" value="<%= foundPost[0].genre %>">
      <textarea name="content"><%= foundPost[0].content %></textarea>
    </form>
<% } %> -->

<%- include('../partials/footer') %>